.tweet {
  max-width: 600px;
  padding: 20px;
  background-color: white;
  box-shadow: 6px 10px 30px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  transition: all 200ms;
  animation-name: FadeIn;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  opacity: 1;

  @keyframes FadeIn {
    0% {
      opacity: 0;
      transform: translateX(-25px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &.animation-active {
    transform: translateY(-8px);
  }

  i {
    margin-top: 12px;
    font-size: 14px;
    color: #cfcfcf;
    margin-right: 20px;
    cursor: pointer;
    &:first-child {
      margin-left: 2px;
    }
    &:hover {
      color: #222;
    }
    &.fa-pen-to-square {
      font-size: 15px;
    }
  }

  .loading-animation {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    .lds-facebook {
      display: inline-block;
      position: relative;
      width: 31px;
      height: 15px;
    }
    .lds-facebook div {
      display: inline-block;
      position: absolute;
      left: 0px;
      width: 6px;
      background: #ccc;
      animation: lds-facebook-2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }
    .lds-facebook div:nth-child(1) {
      left: 0px;
      animation-delay: -0.2s;
    }
    .lds-facebook div:nth-child(2) {
      left: 10px;
      animation-delay: -0.1s;
    }
    .lds-facebook div:nth-child(3) {
      left: 20px;
      animation-delay: 0;
    }
    @keyframes lds-facebook-2 {
      0% {
        top: 0px;
        height: 20px;
      }
      50%,
      100% {
        top: 4px;
        height: 12px;
      }
    }
  }
}
